{% extends 'email/base.html.twig' %}

{% block body %}
    <p>Hello {{ mailData.username }}</p>
    <p>Your account has just been created on bileMo, you need to define your password</p>
    <p>The password has to respect the following security requirements</p>
    <p>Minimum length: 5 characters</p>
    <p>just send this style of PUT request to the API at this address</p>
    <p>{{ app.request.schemeAndHttpHost }}/activate_client/{{ mailData.id }}</p>
    <pre>
        {
          "plainPassword": "string",
          "newUserToken": "{{ mailData.newUserToken }}"
        }
    </pre>

{% endblock %}
