{% extends 'email/base.html.twig' %}

{% block body %}
    <p>Hello {{ mailData.username }}</p>
    <p>Your account has just been created on bileMo, you need to define your password</p>
    <p>The password has to respect the following security requirements</p>
    {# TODO: define password security settings #}
    <p>just send this style of PUT request to the API at this address</p>
    <p>{{ mailData.newUserToken }}</p>
    {# TODO: get real url #}
    <p>/activate_client/{{ mailData.id }}</p>
    <pre>
        {
          "plainPassword": "string",
          "newUserToken": "string"
        }
    </pre>

    <p>or visit this link to define it manually</p>
    {# TODO: custom controller that will send post to define the email #}
    {# better to make a custom controller with a send using the actual post link than double the code. this is just a helper for ease of use #}

{% endblock %}